<div>
    <section id="tayiwp-pf2e_dc-window_section-first" class="tayiwp-pf2e_dc-window_section">
        <div class="tayiwp-pf2e_dc-window_row">
            <input id="tayiwp-pf2e_dc-window_check-name" type="text" placeholder="Make a check"/>
        </div>
        <div class="tayiwp-pf2e_dc-window_row">
            <div class="tayiwp-pf2e_dc-window_dc-setter">
                <button class="tayiwp-pf2e_dc-window_btn-dc-adjust" data-adjustment="-5" data-active="0" type="button">
                    <<
                </button>
                <button class="tayiwp-pf2e_dc-window_btn-dc-adjust" data-adjustment="-2" data-active="0" type="button">
                    <
                </button>
                <input class="tayiwp-pf2e_dc-window_dc-input" id="tayiwp-pf2e_dc-window_dc-base" type="number"
                       data-base-dc="10" value="10" />
                <button class="tayiwp-pf2e_dc-window_btn-dc-adjust" data-adjustment="2" data-active="0" type="button">
                    >
                </button>
                <button class="tayiwp-pf2e_dc-window_btn-dc-adjust" data-adjustment="5" data-active="0" type="button">
                    >>
                </button>
            </div>
            <button id="tayiwp-pf2e_dc-window_btn-set-dc-level">
                Set to level
            </button>
            <input id="tayiwp-pf2e_dc-window_dc-level-input" type="number" placeholder="00" />
        </div>
    </section>
    <section id="tayiwp-pf2e_dc-window_section-add-new">
        <button id="tayiwp-pf2e_dc-window_btn-add-new">
            +
        </button>
        <!--<button id="tayiwp-pf2e_dc-window_btn-copy">-->
            <!--Copy-->
        <!--</button>-->
        <button id="tayiwp-pf2e_dc-window_btn-finish">
            Send to chat
        </button>
    </section>
</div>
<style>
    .tayiwp-pf2e_dc-window_section-check {
        border-top-style: solid;
        border-top-width: 2px;
        border-top-color: gray;
        padding-top: 3px;
        margin-top: 5px;
    }

    .tayiwp-pf2e_dc-window_row {
        display: flex;
        align-items: center;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    #tayiwp-pf2e_dc-window_check-name,
    .tayiwp-pf2e_dc-window_check-traits,
    .tayiwp-pf2e_dc-window_check-type-selector {
        flex-grow: 1;
    }

    .tayiwp-pf2e_dc-window_dc-setter {
        display: flex;
        align-items: center;
        margin-right: 1em;
    }

    .tayiwp-pf2e_dc-window_btn-dc-adjust {
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
        border-color: gray;
        line-height: normal;
        padding: 2px;
        padding-left: 6px;
        padding-right: 6px;
        margin: 0;
        width: auto;
    }

    .tayiwp-pf2e_dc-window_btn-dc-adjust_active {
        background-color: lightcoral;
    }

    .tayiwp-pf2e_dc-window_dc-input {
        margin-left: 3px;
        margin-right: 3px;
        width: 2em !important;
    }

    #tayiwp-pf2e_dc-window_btn-set-dc-level {
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
        border-color: gray;
    }

    #tayiwp-pf2e_dc-window_dc-level-input {
        width: 3em;
    }

    .tayiwp-pf2e_dc-window_check-type-selector {
        margin-right: 4px;
    }

    .tayiwp-pf2e_dc-window_check-box-label {
        display: flex;
        align-items: center;
    }

    .tayiwp-pf2e_dc-window_remove-check {
        width: 2em;
        line-height: normal;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #tayiwp-pf2e_dc-window_section-add-new {
        margin-top: 5px;
    }

    #tayiwp-pf2e_dc-window_btn-add-new,
    #tayiwp-pf2e_dc-window_btn-finish {
        width: 49%;
    }
</style>
<script type="module">
    let next_check_num = 1;

    // function get_check_nums() {
    //     return $('.tayiwp-pf2e_dc-window_section-check').length;
    // }
    
    function find_input($section_or_setter) {
        return $section_or_setter.find('.tayiwp-pf2e_dc-window_dc-input');
    }
    
    function find_setter($section) {
        return $section.find('.tayiwp-pf2e_dc-window_dc-setter');
    }
    
    function find_setter_up($input) {
        return $input.parents('.tayiwp-pf2e_dc-window_dc-setter');
    }
    
    function find_section_up($setter_or_input) {
        return $setter_or_input.parents('.tayiwp-pf2e_dc-window_section');
    }
    
    function find_adjust_btns($section_or_setter) {
        return $section_or_setter.find('.tayiwp-pf2e_dc-window_btn-dc-adjust')
    }
    
    function is_adjust_btn_active(btn) {
        return $(btn).attr('data-active') === '1';
    }

    function get_main_section() {
        return $('#tayiwp-pf2e_dc-window_section-first');
    }
    
    function get_main_input() {
        return $('#tayiwp-pf2e_dc-window_dc-base');
    }
    
    function list_check_sections() {
        return $('.tayiwp-pf2e_dc-window_section-check');
    }

    function get_main_base_DC() {
        return Number(get_main_input().attr('data-base-dc'));
    }

    function get_main_DC() {
        return Number(get_main_input().val());
    }

    function save_dc_as_base($input, new_dc) {
        $input.attr('data-base-dc', new_dc);
    }

    function save_current_dc_as_base($input) {
        save_dc_as_base($input, $input.val());
    }

    // function get_current_base_DC($setter) {
    //     return Number($setter.find('.tayiwp-pf2e_dc-window_dc-input').attr('data-base-dc'));
    // }
    //
    // function get_current_DC($setter) {
    //     return Number($setter.find('.tayiwp-pf2e_dc-window_dc-input').val());
    // }

    function get_last_check() {
        const checks = list_check_sections();
        if (checks.length > 0)
            return $(checks[checks.length - 1]);
        return $('');
    }

    function get_chosen_skill_type($from_check) {
        const selector = $from_check.find('.tayiwp-pf2e_dc-window_check-type-selector');
        return selector.val();
    }

    function get_chosen_show_dc($from_check) {
        const input = $from_check.find('.tayiwp-pf2e_dc-window_check-option_show-dc');
        if (input.length > 0)
            return input[0].checked;
        return false;
    }

    function get_chosen_blind_roll($from_check) {
        const input = $from_check.find('.tayiwp-pf2e_dc-window_check-option_blind-roll');
        if (input.length > 0)
            return input[0].checked;
        return false;
    }

    function get_check_types() {
        const skill_types = ['flat', 'perception'];
        for (const key of Object.keys(CONFIG.PF2E.saves))
            skill_types.push(key);
        for (const key of Object.keys(CONFIG.PF2E.skillList))
            skill_types.push(key);
        return skill_types;
    }

    function get_check_types_html(selected_type) {
        let options = '';
        const skill_types = get_check_types();
        for (const skill_type of skill_types) {
            let selected = '';
            if (skill_type === selected_type)
                selected = 'selected';
            options = options + `<option value="${skill_type}" ${selected}>${skill_type}</option>`;
        }
        return options;
    }

    function remove_this_check(btn) {
        const $section = find_section_up($(btn));
        $section.remove();
    }

    function setup_new_section($section, is_main) {
        find_adjust_btns($section).on('click', (event) => { adjust_dc_for_btn(event.target, is_main); });
    }

    function create_new_check() {
        const $last_check = get_last_check();
        const last_chosen_skill_type = get_chosen_skill_type($last_check);
        const last_chosen_show_dc = get_chosen_show_dc($last_check);
        let show_dc_checked = '';
        if (last_chosen_show_dc) show_dc_checked = 'checked';
        const last_chosen_blind_roll = get_chosen_blind_roll($last_check);
        let blind_roll_checked = '';
        if (last_chosen_blind_roll) blind_roll_checked = 'checked';
        const $section = $('<section>', {
            'class': "tayiwp-pf2e_dc-window_section-check tayiwp-pf2e_dc-window_section",
            'data-check-num': next_check_num
        });
        $section.html(`
        <div class="tayiwp-pf2e_dc-window_row">
            <div class="tayiwp-pf2e_dc-window_dc-setter">
                <button class="tayiwp-pf2e_dc-window_btn-dc-adjust" data-adjustment="-5" data-active="0" type="button">
                    <<
                </button>
                <button class="tayiwp-pf2e_dc-window_btn-dc-adjust" data-adjustment="-2" data-active="0" type="button">
                    <
                </button>
                <input class="tayiwp-pf2e_dc-window_dc-input" type="number" value="${get_main_DC()}" disabled />
                <button class="tayiwp-pf2e_dc-window_btn-dc-adjust" data-adjustment="2" data-active="0" type="button">
                    >
                </button>
                <button class="tayiwp-pf2e_dc-window_btn-dc-adjust" data-adjustment="5" data-active="0" type="button">
                    >>
                </button>
            </div>
            <select class="tayiwp-pf2e_dc-window_check-type-selector">
                ${get_check_types_html(last_chosen_skill_type)}
            </select>
            <label class="tayiwp-pf2e_dc-window_check-box-label">
                show DC:
                <input class="tayiwp-pf2e_dc-window_check-option_show-dc" type="checkbox" ${show_dc_checked} />
            </label>
            <label class="tayiwp-pf2e_dc-window_check-box-label">
                blind:
                <input class="tayiwp-pf2e_dc-window_check-option_blind-roll" type="checkbox" ${blind_roll_checked} />
            </label>
        </div>
        <div class="tayiwp-pf2e_dc-window_row">
            <input class="tayiwp-pf2e_dc-window_check-traits" type="text" placeholder="Traits"/>
            <button class="tayiwp-pf2e_dc-window_remove-check" type="button">
                X
            </button>
        </div>
        `);
        next_check_num += 1;
        setup_new_section($section, false);
        $section.find('.tayiwp-pf2e_dc-window_remove-check').on('click', (event) => { remove_this_check(event.target); });
        $section.insertBefore($('#tayiwp-pf2e_dc-window_section-add-new'));
    }

    function is_dc_adjusted($setter) {
        for (let btn of find_adjust_btns($setter)) {
            if (is_adjust_btn_active(btn))
                return true;
        }
        return false;
    }

    function refresh_dc($section, is_main) {
        let dc = get_main_base_DC();
        if (!is_main) dc = get_main_DC();
        for (let btn of find_adjust_btns($section)) {
            if (is_adjust_btn_active(btn)) {
                const adjustment = Number($(btn).attr('data-adjustment'));
                dc += adjustment;
            }
        }
        const $input = find_input($section);
        $input.val(dc);
        if (is_main)
            refresh_all_other_dcs();
    }
    
    function refresh_all_other_dcs() {
        for (const section of list_check_sections())
            refresh_dc($(section), false);
    }
    
    function on_main_dc_change() {
        const $input = get_main_input();
        // const $setter = find_setter_up($input);
        // if (!is_dc_adjusted($setter)) {
            save_current_dc_as_base($input);
        // }
        refresh_all_other_dcs();
    }

    function set_dc_to_level() {
        const lvl_input = $('#tayiwp-pf2e_dc-window_dc-level-input');
        let level = TayiWP.DC_WINDOW.last_used_level;
        if (lvl_input.val().length > 0) {
            level = Number(lvl_input.val());
            TayiWP.DC_WINDOW.last_used_level = level;
        }
        else
            lvl_input.val(level);
        const dc = TayiWP.CONST.DCS_BY_LEVEL(level);
        const $input = get_main_input();
        save_dc_as_base($input, dc);
        refresh_dc(get_main_section(), true);
    }

    function activate_this_adjust_btn($btn, is_main) {
        const $setter = find_setter_up($btn);
        $btn.attr('data-active', 1);
        $btn.addClass('tayiwp-pf2e_dc-window_btn-dc-adjust_active');
        find_adjust_btns($setter).prop('disabled', true);
        $btn.prop('disabled', false);
        if (is_main)
            find_input($setter).prop('disabled', true);
    }

    function deactivate_this_adjust_btn($btn, is_main) {
        const $setter = find_setter_up($btn);
        $btn.attr('data-active', 0);
        $btn.removeClass('tayiwp-pf2e_dc-window_btn-dc-adjust_active');
        find_adjust_btns($setter).prop('disabled', false);
        if (is_main)
            find_input($setter).prop('disabled', false);
    }

    function adjust_dc_for_btn(btn, is_main) {
        const $btn = $(btn);
        if (!is_adjust_btn_active(btn))
            activate_this_adjust_btn($btn, is_main);
        else
            deactivate_this_adjust_btn($btn, is_main);
        refresh_dc(find_section_up($btn), is_main);
    }

    function finish() {
        let check_name = $('#tayiwp-pf2e_dc-window_check-name').val();
        if (check_name.length > 0)
            check_name += ':';
        let text = '';
        for (const section of list_check_sections()) {
            const $section = $(section);
            const check_type = $section.find('.tayiwp-pf2e_dc-window_check-type-selector').val();
            const dc = find_input($section).val();
            const show_dc_bool = $section.find('.tayiwp-pf2e_dc-window_check-option_show-dc')[0].checked;
            let show_dc = 'gm';
            if (show_dc_bool) show_dc = 'all';

            let traits = $section.find('.tayiwp-pf2e_dc-window_check-traits').val();
            const blind_roll_bool = $section.find('.tayiwp-pf2e_dc-window_check-option_blind-roll')[0].checked;
            let blind_roll = '';
            if (blind_roll_bool) blind_roll = 'secret';
            if (traits.length > 0 || blind_roll.length > 0) {
                if (traits.length > 0 && blind_roll.length > 0)
                    blind_roll += ',';
                traits = `|traits:${blind_roll}${traits}`;
            }

            let template = `@Check[type:${check_type}|dc:${dc}|showDC:${show_dc}${traits}]`;
            text += `<li>${template}</li>`;
        }
        return `<b>${check_name}</b><ul>${text}</ul>`;
    }

    // async function copy_finished() {
    //     const text = finish();
    //     await navigator.clipboard.writeText(text);
    // }

    async function send_to_chat() {
        const text = finish();
        await ChatMessage.create({
            content: text
        });
    }

    set_dc_to_level();
    get_main_input().on('change', on_main_dc_change);
    $('#tayiwp-pf2e_dc-window_btn-set-dc-level').on('click', set_dc_to_level);
    setup_new_section(get_main_section(), true);
    $('#tayiwp-pf2e_dc-window_btn-add-new').on('click', create_new_check);
    // $('#tayiwp-pf2e_dc-window_btn-copy').on('click', copy_finished);
    $('#tayiwp-pf2e_dc-window_btn-finish').on('click', send_to_chat);
</script>